a button.button-back {
  width: 64px;
}

.mdl-card.mdl-shadow--2dp {
  width: 100%;
  padding: 32px 160px;
}
/*img.mdl-card.mdl-shadow--2dp {
  width: 120px;
  min-height: 120px;
  margin: 16px;
  padding: 0;
}*/
.row {
  margin: 0;
}

.row .mdl-cell--2-col {
  font-weight: 500;
}

.mdl-cell.mdl-cell--10-col {
  overflow: auto;
}

hr {
  margin: 0 16px;
  padding: 0;
  border: 1px solid #c2c2c2;
}
