.button-back {
  background: #607c8c;
  font-size: 0;
  margin: 0 0 16px;
}

.button-back:hover {
  background: #4a6777;
}

.mdl-card.mdl-shadow--2dp {
  width: 100%;
  padding: 16px;
}
/*img.mdl-card.mdl-shadow--2dp {
  width: 120px;
  min-height: 120px;
  margin: 16px;
  padding: 0;
}*/
.row {
  margin: 0;
}

.row .mdl-cell--2-col {
  font-weight: 500;
}
