<a routerLink="/services">
  <button class="mdl-button mdl-js-button mdl-button--raised button-back">
    <img src="/assets/icons/ic_arrow_back_white_24px.svg"/>
  </button>
</a>

<div class="mdl-card mdl-shadow--2dp">
  <img class="mdl-card mdl-shadow--2dp" src="/assets/icons/ic_insert_photo_black_48px.svg"/>
  <div class="row mdl-grid">
    <span class="mdl-cell mdl-cell--2-col">Name</span>
    <span class="mdl-cell mdl-cell--10-col">{{ name | slice:1 }}</span>
  </div>
  <div class="row mdl-grid">
    <span class="mdl-cell mdl-cell--2-col">ID</span>
    <span class="mdl-cell mdl-cell--10-col">{{ id }}</span>
  </div>
  <div class="row mdl-grid">
    <span class="mdl-cell mdl-cell--2-col">Image</span>
    <span class="mdl-cell mdl-cell--10-col">{{ image }}</span>
  </div>
  <div class="row mdl-grid">
    <span class="mdl-cell mdl-cell--2-col">Status</span>
    <span class="mdl-cell mdl-cell--10-col">{{ status | uppercase }}</span>
  </div>
  <div class="row mdl-grid">
    <span class="mdl-cell mdl-cell--2-col">Ports</span>
    <span class="mdl-cell mdl-cell--10-col">
      <span *ngFor="let port of ports">
        {{ port }}
      </span>
    </span>
  </div>
  <div class="row mdl-grid">
    <span class="mdl-cell mdl-cell--2-col">Created Date</span>
    <span class="mdl-cell mdl-cell--10-col">{{ created }}</span>
  </div>
  <div class="row mdl-grid">
    <span class="mdl-cell mdl-cell--2-col">ENTRYPOINT</span>
    <span class="mdl-cell mdl-cell--10-col">{{ entrypoint }}</span>
  </div>
  <div class="row mdl-grid">
    <span class="mdl-cell mdl-cell--2-col">CMD</span>
    <span class="mdl-cell mdl-cell--10-col">{{ cmd }}</span>
  </div>
  <div class="row mdl-grid">
    <span class="mdl-cell mdl-cell--2-col">Binds</span>
    <span class="mdl-cell mdl-cell--10-col">{{ binds }}</span>
  </div>
  <div class="row mdl-grid">
    <span class="mdl-cell mdl-cell--2-col">Enviroments</span>
    <span class="mdl-cell mdl-cell--10-col">{{ env }}</span>
  </div>
</div>
