.service-list-container {
  margin-top: 20px;
  margin-bottom: 55px;
}

.running.service-btn:hover {
  background: #fcbd47;
  color: #ffffff;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.running.service-btn:active {
  background: #e79102;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
