<div class="mdl-container running" *ngIf="hasRunningService">
  <header class="service running">
    Running Services
  </header>
  <div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col" *ngFor="let service of containers">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ service.Names[0] | slice:1 }}</h2>
      </div>

      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tbody>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Application</td>
            <td *ngIf="service.Image">{{ service.Image }}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Status</td>
            <td *ngIf="service.Status">{{ service.Status }}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Port</td>
            <td *ngIf="service.Ports[0] != undefined">{{ service.Ports[0].PublicPort }}</td>
            <td *ngIf="service.Ports[0] == undefined">None</td>
          </tr>
        </tbody>
      </table>

      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect
                       mdl-button--fab" (click)="displayAlert()" (click)="getContainer(service)">
          <img src="/assets/icons/ic_pause_white_24px.svg"/>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The alert dialog for stop one service -->
<div class="dialog-container" *ngIf="showAlert">
  <div class="mdl-dialog">
    <div class="mdl-dialog__title"><img src="/assets/icons/ic_warning_white_48px.svg"/></div>
    <div class="mdl-dialog__content">
      <span>
        Do you want to stop service
        <span>
          <strong>{{ container.Names[0] | slice:1 }}</strong>
        </span>?
      </span>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button" (click)="stopContainer(container)" (click)="hideAlert()">Yes</button>
      <button type="button" class="mdl-button close" (click)="hideAlert()">No</button>
    </div>
  </div>
</div>
