<!-- Notification -->
<div *ngIf="notState && !isError" class="notification-success" role="alert">
  <strong>{{ container.Names[0] | slice:1 }}</strong>{{ notification }}
</div>

<div *ngIf="notState && isError" class="notification-failure" role="alert">
  <strong>{{ container.Names[0] | slice:1 }}</strong>{{ notification }}
</div>

<div *ngIf="hasRunningService" class="service-header running-service-header">
  Running Service
</div>
<div *ngIf="hasRunningService" class="service-list-container">
  <div class="running service-list" *ngFor="let service of containers">
    <div *ngIf="service.Names[0] !== '/DORRY-WEB'" class="running service-container running-service-container">
      <!-- Service icon -->
      <span class="running service-img-container" [ngSwitch]="service.iconAssigned">
        <img class="running service-img" *ngSwitchCase="true" src={{service.iconUrl}} style="height:75px; width:75px"/>
        <img class="running service-img" *ngSwitchDefault src="assets/icons/default.svg" style="height:75px; width:75px"/>
        <div class="running service-shadow"></div>
      </span>

      <span class="running service-misc">
        <!-- Service name -->
        <div class="running service-name" *ngIf="service.Names[0]">
          {{ service.Names[0] | slice:1 }}
        </div>
        <!-- App name -->
        <div class="running service-info" *ngIf="service.Image">
          {{ service.Image }}
        </div>
        <!-- Service uptime -->
        <div class="running service-info" *ngIf="service.Status">
          {{ service.Status }}
        </div>
        <!-- Service port -->
        <div class="running service-info" *ngIf="service.Ports[0] != undefined">
          Port:
          {{ service.Ports[0].PublicPort }}
        </div>
        <!-- Stop Button -->
        <div class="running service-btn" (click)="displayAlert()" (click)="getContainer(service)">
          Stop
        </div>
      </span>

      <div *ngIf="container && service.spinner" class="sk-base"></div>
      <div *ngIf="container && service.spinner" class=" sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>

    </div>
  </div>
</div>

<!-- The alert dialog for stop one service -->
<div class="alert-dialog-style alert-global" *ngIf="showAlert"></div>
<div class="alert-dialog alert-dialog-style modal-dialog" *ngIf="showAlert"></div>
<div class="alert-content alert-dialog-style modal-content" *ngIf="showAlert">
  <div class="alert-body cursor-default modal-body">
    <span><img class="alert-excl" src="assets/alert.svg"/></span>
    <span class="alert-message cursor-default">
      Do you want to stop service
      <span class="alert-name">{{ container.Names[0] | slice:1 }}</span>?
    </span>
  </div>
  <div class="alert-footer modal-footer">
    <button type="button" class="btn btn-alert btn-yes" data-dismiss="modal" (click)="stopContainer(container)" (click)="hideAlert()">Yes</button>
    <button type="button" class="btn btn-alert btn-no" data-dismiss="modal" (click)="hideAlert()">No</button>
  </div>
</div>
