a button.button-back {
  width: 64px;
}

.mdl-card.mdl-shadow--2dp {
  width: 100%;
  padding: 32px 160px;
}

.app-misc.mdl-grid {
  padding: 0;
}

.mdl-button {
  margin: 16px 0 16px 16px;
}

mdl-tabs {
  font-size: 16px;
}

mdl-textfield {
  padding: 26px 0;
}

.row {
  margin: 0;
}

.row .mdl-cell--4-col {
  font-weight: 500;
}

.mdl-cell.mdl-cell--8-col {
  overflow: auto;
}

.remove-icon:hover {
  cursor: pointer;
}

.header {
  font-size: 28px;
  font-weight: 500;
}

.config,
.details {
  padding: 8px 16px;
}

hr {
  margin: 24px 0;
  padding: 0;
  border: 1px solid #c2c2c2;
}
