a button.button-back {
  width: 64px;
}

.mdl-card.mdl-shadow--2dp {
  width: 100%;
  padding: 32px 160px;
}

.content-container div img {
  height: 104px;
  width: 104px;
  border: 2px solid;
  border-radius: 4px;
  margin-bottom: 16px;
}

.app-misc.mdl-grid {
  padding: 0;
}

.mdl-button {
  margin: 16px 0 16px 16px;
}

.button-add:hover,
.button-save:hover {
  background: #7c9fb5;
  color: #fcfcfc;
}

mdl-tabs {
  font-size: 16px;
}

mdl-textfield {
  padding: 26px 0;
}

.mdl-button mdl-spinner {
  height: 24px;
  width: 24px;
  top: 0;
  bottom: 0;
}

.row {
  margin: 0;
}

.row .mdl-cell--4-col {
  font-weight: 500;
}

.mdl-cell.mdl-cell--8-col {
  overflow: auto;
}

span ul img.remove-icon {
  height: initial;
  width: initial;
  border: 0;
  margin: 0;
}

.remove-icon:hover {
  cursor: pointer;
}

.header {
  font-size: 28px;
  font-weight: 500;
}

.config,
.details {
  padding: 8px 16px;
}

mdl-radio {
  margin-right: 16px;
}

hr {
  /*margin: 24px 0;*/
  padding: 0;
  border: 1px solid #c2c2c2;
}
