a button.button-back {
  width: 64px;
}

.mdl-card.mdl-shadow--2dp {
  width: 100%;
  padding: 32px 160px;
}

.mdl-button {
  margin: 16px 0 16px 16px;
}

mdl-tabs {
  font-size: 16px;
}

mdl-textfield {
  padding: 26px 0;
}

.row {
  margin: 0;
}

.row .mdl-cell--4-col {
  font-weight: 500;
}

.mdl-cell.mdl-cell--8-col {
  overflow: auto;
}

.remove-icon:hover {
  cursor: pointer;
}
