<div class="message-empty" *ngIf="error.hasError!=undefined && stopped.hasStopped!=undefined && running.hasRunning!=undefined &&
                                  !error.hasError && !stopped.hasStopped && !running.hasRunning">
  Your service list is empty.
</div>

<app-containers-error #error (reloadEvent)="error.getErrorContainers()" (reloadEvent)="stopped.getStoppedContainers()" (reloadEvent)=" running.getRunningContainers()"></app-containers-error>

<app-containers-running #running (reloadEvent)="error.getErrorContainers()" (reloadEvent)="stopped.getStoppedContainers()" (reloadEvent)=" running.getRunningContainers()"></app-containers-running>

<app-containers-stopped #stopped (reloadEvent)="error.getErrorContainers()" (reloadEvent)="stopped.getStoppedContainers()" (reloadEvent)=" running.getRunningContainers()"></app-containers-stopped>
