.mdl-container {
  margin-bottom: 24px;
}

header.service {
  font-size: 28px;
  font-weight: 500;
  line-height: 1em;
  color: #37474f;
  padding: 0 26px;
}

.mdl-card__title {
  padding: 12px;
  position: relative;
}

.mdl-card__title .mdl-card {
  min-height: 50px;
  width: 50px;
  cursor: pointer;
}

.mdl-card__title .mdl-card:hover {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.mdl-card__title .mdl-card:active {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.35);
  transition: 0.2s;
}

.mdl-card__title-text {
  width: 100%;
  /*padding: 0 24px 0 56px;*/
  padding: 0 0 0 8px;
  /*position: absolute;*/
  display: block;
  align-self: auto;
}

.service-name {
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}

.service-status {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}

.service-status-icon {
  margin: 0 8px 0 0;
}

.mdl-card__supporting-text.table {
  background: #f7f7f7;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mdl-data-table {
  background: #f7f7f7;
  width: 100%;
  border: 0;
}

.mdl-data-table__cell--non-numeric {
  font-weight: 500;
  width: 40%;
}

.mdl-data-table tbody tr {
  color: #444444;
  height: 38px;
}

.mdl-data-table tbody tr:hover {
  background-color: inherit;
}

.mdl-data-table tbody tr td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0;
  height: inherit;
  padding-top: 0;
  padding-bottom: 0;
}

.mdl-card__actions.mdl-card--border {
  padding: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

hr {
  margin: 8px 16px;
  padding: 0;
  border: 1px solid #c2c2c2;
}
