#refresh {
  margin-left: 4%;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.55);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.4);
}

#refresh:hover {
  color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
}

#refresh:active {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.1s;
  -webkit-transition: box-shadow 0.1s;
}


/*****************************************************************************/

.service-header {
  margin-left: 97px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  cursor: default;
}

.service-list {
  display: inline-block;
}

.service-list-container {
  margin-left: 69px;
  margin-right: 69px;
}

.service-container {
  display: inline-block;
  width: 255px;
  height: 141px;
  background: rgba(0, 0, 0, 0.11);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
  border-radius: 4px;
  position: relative;
  margin: 0 33px 20px 0;
}

.service-img {
  cursor: pointer;
  margin: 33px 0 0 31px;
}


/*.service-img:hover {
  box-shadow: inset 0 0 14px rgba(255,255,255,0.5);
}*/


/*.service-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-shadow:hover {
  box-shadow: inset 0 0 14px 0 rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  top: 0;
  left: 0;
}*/

.service-img-container {
  display: inline-block;
  position: relative;
}

.service-misc {
  display: inline-block;
  position: absolute;
  margin: 33px 0 0 9px;
  width: 109px;
  height: 75px;
}

.service-name {
  color: #ebebeb;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.service-name:hover {
  color: #ffffff;
  cursor: pointer;
}

.service-info {
  color: rgba(244, 244, 244, 0.79);
  font-size: 9px;
  line-height: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.service-btn {
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  border-radius: 2px;
  line-height: 14px;
  width: 45px;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: #7e5c59;
  background: rgba(255, 255, 255, 1);
}


/*.service-btn:hover {
  background: #e14f61;
  color: #ffffff;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.service-btn:active {
  background: #c72f41;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}*/

.notification-success {
  opacity: 0.8;
  color: #ffffff;
  /*font-weight: bold;*/
  font-size: 24px;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  line-height: 100px;
  width: 697px;
  height: 100px;
  text-align: center;
  border-radius: 15px;
  background: rgba(0, 0, 0, 1);
  border: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.notification-failure {
  opacity: 0.8;
  color: #ffffff;
  /*font-weight: bold;*/
  position: fixed;
  font-size: 24px;
  z-index: 4;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  line-height: 100px;
  width: 697px;
  height: 100px;
  text-align: center;
  border-radius: 15px;
  background: rgba(240, 152, 6, 1);
  border: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}


/*****************************************************************************/

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
