#refresh {
  margin-left: 4%;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.55);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.4);
}

#refresh:hover {
  color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
}

#refresh:active {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.1s;
  -webkit-transition: box-shadow 0.1s;
}


/*****************************************************************************/

.service-header {
  margin-left: 97px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  cursor: default;
}

.service-list {
  display: inline-block;
}

.service-container {
  padding: 35px 61px 35px 62px;
}

.service-img {
  cursor: pointer;
}


/*.service-img:hover {
  box-shadow: inset 0 0 14px rgba(255,255,255,0.5);
}*/

.service-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-shadow:hover {
  box-shadow: inset 0 0 14px 0 rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  top: 0;
  left: 0;
}

.service-img-container {
  display: inline-block;
  position: relative;
}

.service-misc {
  float: right;
  margin-left: 9px;
  position: relative;
  height: 100%;
  width: 57px;
}

.service-name {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.service-info {
  color: #F4F4F4;
  font-size: 10px;
  width: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.service-btn {
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
  line-height: 15px;
  width: 55px;
  text-align: center;
  position: absolute;
  top: 54px;
  border-color: #d0d0d0;
  border-width: 1px;
  border-style: solid;
  color: #f0f0f0;
}

.service-btn:hover {
  background: rgba(255, 255, 255, 0.59);
  opacity: 0.59;
  color: #000000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.service-btn:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.notification-success {
  opacity: 0.8;
  color: #ffffff;
  /*font-weight: bold;*/
  font-size: 24px;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  line-height: 100px;
  width: 697px;
  height: 100px;
  text-align: center;
  border-radius: 15px;
  background: rgba(0, 0, 0, 1);
  border: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.notification-failure {
  opacity: 0.8;
  color: #ffffff;
  /*font-weight: bold;*/
  position: fixed;
  font-size: 24px;
  z-index: 4;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  line-height: 100px;
  width: 697px;
  height: 100px;
  text-align: center;
  border-radius: 15px;
  background: rgba(240, 152, 6, 1);
  border: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
