<div [ngStyle]="{'margin-top':'40px'}">
  <button type="button" class="btn btn-success" style="margin-left:90%; margin-bottom: 20px" (click)="error.getErrorContainers()" (click)="stopped.getStoppedContainers()" (click)=" running.getRunningContainers()">Refresh</button>

  <app-containers-error #error (reloadEvent)="error.getErrorContainers()" (reloadEvent)="stopped.getStoppedContainers()" (reloadEvent)=" running.getRunningContainers()"></app-containers-error>

  <app-containers-stopped #stopped (reloadEvent)="error.getErrorContainers()" (reloadEvent)="stopped.getStoppedContainers()" (reloadEvent)=" running.getRunningContainers()"></app-containers-stopped>

  <app-containers-running #running (reloadEvent)="error.getErrorContainers()" (reloadEvent)="stopped.getStoppedContainers()" (reloadEvent)=" running.getRunningContainers()"></app-containers-running>
</div>
