<div>
  <!-- <div id="refresh" class="btn" (click)="error.getErrorContainers()" (click)="stopped.getStoppedContainers()" (click)=" running.getRunningContainers()">Refresh</div> -->

  <app-containers-error #error (reloadEvent)="error.getErrorContainers()" (reloadEvent)="stopped.getStoppedContainers()" (reloadEvent)=" running.getRunningContainers()"></app-containers-error>

  <app-containers-stopped #stopped (reloadEvent)="error.getErrorContainers()" (reloadEvent)="stopped.getStoppedContainers()" (reloadEvent)=" running.getRunningContainers()"></app-containers-stopped>

  <app-containers-running #running (reloadEvent)="error.getErrorContainers()" (reloadEvent)="stopped.getStoppedContainers()" (reloadEvent)=" running.getRunningContainers()"></app-containers-running>
</div>
