.mdl-container {
  margin-bottom: 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.mdl-grid {
  padding: 8px 24px 24px;
}

header.service {
  font-size: 28px;
  font-weight: 500;
  line-height: 1em;
  color: #37474f;
  padding: 32px 32px 0;
}

.mdl-card {
  min-height: 0;
  transition: 0.4s;
}

.mdl-card:hover {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.mdl-card__title-text {
  font-weight: 400;
}

.mdl-data-table {
  width: inherit;
}

.mdl-card__supporting-text {
  width: 100%;
}

.mdl-data-table__cell--non-numeric {
  font-weight: 500;
}

.mdl-card__menu {
  color: #ffffff;
}
