.mdl-container {
  margin-bottom: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header.service {
  font-size: 24px;
  font-weight: 500;
  color: #37474f;
  padding: 16px 16px 0;
}

.mdl-card {
  min-height: 0;
  transition: 0.4s;
}

.mdl-card:hover {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.mdl-card__title-text {
  font-weight: 500;
}

.mdl-data-table {
  width: inherit;
}

.mdl-card__supporting-text {
  width: 100%;
}

.mdl-data-table__cell--non-numeric {
  font-weight: 500;
}
