.mdl-container {
  margin-bottom: 16px;
  /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/
}

header.service {
  font-size: 28px;
  font-weight: 500;
  line-height: 1em;
  color: #37474f;
  padding: 16px 16px 0;
}

.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--3-col {
  min-height: 0;
  transition: 0.4s;
}

.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--3-col:hover {
  box-shadow: 0 2px 6px 4px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.mdl-card__title {
  padding: 12px;
  position: relative;
}

.mdl-card__title .mdl-card {
  min-height: 50px;
  width: 50px;
  cursor: pointer;
}

.mdl-card__title .mdl-card:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.mdl-card__title .mdl-card:active {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.mdl-card__title-text {
  width: 100%;
  /*padding: 0 24px 0 56px;*/
  padding: 0 0 0 8px;
  /*position: absolute;*/
  display: block;
  align-self: auto;
}

.service-name {
  font-size: 22px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}

.service-status {
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}

.mdl-card__supporting-text.table {
  width: 100%;
  margin: 0;
  padding: 4px;
}

.mdl-data-table {
  width: 100%;
}

.mdl-data-table__cell--non-numeric {
  font-weight: 500;
}

.mdl-data-table tbody tr td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mdl-card__actions.mdl-card--border {
  padding: 12px;
}
