.service-header {
  margin-left: 97px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  cursor: default;
}

.service-list {
  display: inline-block;
}

.service-container {
  padding: 35px 61px 35px 62px;
}

.service-img {
  cursor: pointer;
}

.service-img:hover {
  background: white;
}

.service-misc {
  float: right;
  margin-left: 9px;
  position: relative;
  height: 100%;
  width: 57px;
}

.service-name {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.service-info {
  color: #F4F4F4;
  font-size: 10px;
  width: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.service-btn {
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
  line-height: 15px;
  width: 55px;
  text-align: center;
  position: absolute;
  top: 56px;
  border-color: #d0d0d0;
  border-width: 1px;
  border-style: solid;
  color: #f0f0f0;
}

.service-btn:hover {
  background: rgba(255, 255, 255, 0.59);
  opacity: 0.59;
  color: #000000;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.service-btn:active {
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.notification-success {
  opacity: 0.8;
  color: #ffffff;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  line-height: 80px;
  width: 559px;
  height: 80px;
  text-align: center;
  border-radius: 15px;
  background-image: url("assets/black.png");
  border: 0;
  font-size: 20px;
}

.notification-failure {
  opacity: 0.8;
  color: #ffffff;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  line-height: 80px;
  width: 559px;
  height: 80px;
  text-align: center;
  border-radius: 15px;
  background-image: url("assets/orange.png");
  border: 0;
  font-size: 20px;
}

.alert-global {
  height: 100vh;
  width: 100vw;
  z-index: 20;
}
