.login-header,
.login-logo,
mdl-card {
  margin: 16px auto;
  text-align: center;
}

img {
  height: 56px;
  width: 56px;
}

.login-header {
  font-size: 20px;
}

mdl-card {
  height: 280px;
  width: 420px;
  padding: 18px;
}

mdl-textfield {
  width: 320px;
  padding: 26px 0;
}

form button {
  width: 320px;
  margin: 26px 0 0;
}
