<div class="item-list">
  <div class="item-container" *ngFor="let item of items">
    <span class="item-img">
      <img class="" src={{item.Img}} style="height:71px; width:71px"/>
    </span>

    <span class="item-misc cursor-default">
      <div class="item-name cursor-pointer" (click)="toggleDetail()" (click)="getItem(item)">
        {{ item }}
      </div>
      <div class="item-size">
        1000 MB
      </div>
      <div class="item-install cursor-pointer">
        Install
      </div>
    </span>
    <div class="item-sash">
      <img src="assets/sash.svg"/>
    </div>
  </div>
</div>

<!-- Mock items -->
<div class="item-list">
  <div class="item-container" *ngFor="let item of mock_items">
    <span class="item-img">
      <img class="" src={{item.Img}} style="height:71px; width:71px"/>
    </span>

    <span class="item-misc cursor-default">
      <div class="item-name cursor-pointer" (click)="toggleDetail()" (click)="getItem(item)">
        {{ item.Name }}
      </div>
      <div class="item-size">
        {{ item.Size }}
      </div>
      <div *ngIf="!item.Installed" class="item-install cursor-pointer">
        Install
      </div>
    </span>
    <div *ngIf="item.Installed" class="item-sash">
      <img src="assets/sash.svg"/>
    </div>
  </div>
</div>

<div *ngIf="showDetail" class="modal-base"></div>
<div *ngIf="showDetail" class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="toggleDetail()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">
        <strong>Details</strong>
      </h4>
    </div>
    <div class="modal-body">
      xxxxxx
    </div>
  </div>
</div>
