.mdl-cell.mdl-cell--3-col .mdl-card.mdl-cell--12-col {
  border-radius: 2px;
  transition: 0.4s;
}

.mdl-cell.mdl-cell--3-col .mdl-card.mdl-cell--12-col:hover {
  box-shadow: 0 2px 6px 4px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.mdl-card__title {
  color: #ffffff;
  background: #1E88E5;
  height: 140px;
  display: block;
  position: relative;
}

.mdl-card__title .mdl-card {
  transition: 0.2s;
  cursor: pointer;
}

.mdl-card__title .mdl-card {
  min-height: 72px;
  width: 72px;
  position: relative;
  align-self: baseline;
}

.mdl-card__title .mdl-card:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.mdl-card__title .mdl-card:active {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.mdl-card__title-text {
  font-size: 22px;
  font-weight: 400;
  padding: 8px 0 0;
}

.mdl-card__supporting-text {
  height: 126px;
  margin: 16px;
  padding: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-install {
  color: #43A047;
}

.mdl-card__menu {
  color: #ffffff;
}
