<div class="item-list">
  <div class="item-container" *ngFor="let item of items">
    <span class="item-img">
      <img class="item-icon" src="assets/icons/default.svg" style="height:71px; width:71px" (click)="toggleDetail()"/>
    </span>

    <span class="item-misc cursor-default">
      <div class="item-name cursor-pointer" (click)="toggleDetail()" (click)="getItem(item)">
        {{ item }}
      </div>
      <div class="item-size">
        1000 MB
      </div>
      <div class="item-install cursor-pointer">
        Install
      </div>
    </span>
    <!-- <div class="item-sash">
      <img src="assets/sash.svg"/>
    </div> -->
  </div>
</div>

<div class="alert-dialog-style alert-global" *ngIf="showDetail"></div>
<div class="alert-dialog alert-dialog-style modal-dialog" *ngIf="showDetail"></div>
<div class="alert-content alert-dialog-style modal-content" *ngIf="showDetail">
  <div class="alert-body cursor-default modal-body">
    <span class="alert-message cursor-default">
      ~!@#$%^&*()_+
    </span>
  </div>
  <div class="alert-footer modal-footer">
    <button type="button" class="btn btn-alert btn-no" data-dismiss="modal" (click)="toggleDetail()">Close</button>
  </div>
</div>

<!-- <div *ngIf="showDetail" class="modal-base"></div>
<div *ngIf="showDetail" class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="toggleDetail()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">
        <strong>Details</strong>
      </h4>
    </div>
    <div class="modal-body">
      ~!@#$%^&*()_+
    </div>
  </div>
</div> -->
