.mdl-layout-title {
  background: #37474f;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.mdl-layout__drawer {
  background: #37474f;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
  border-right: 0;
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #b0bec5;
  font-size: 15px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background: rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:active {
  color: #fff;
  background: #517891;
  text-decoration: none;
}
/*.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:active,
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-decoration: none;
}*/
.mdl-layout__header {
  background: #fafafa;
}

.mdl-layout__content {
  background: #eeeeee;
}

.page-content {
  padding: 32px 104px;
}

.dialog-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
}

.mdl-dialog {
  background: #ffffff;
  height: 240px;
  width: 680px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 100;
}

.mdl-dialog__title {
  color: #ffffff;
  background: #37474f;
  height: 64px;
  line-height: 64px;
  padding: 0 24px;
  text-transform: uppercase;
  text-align: left;
  vertical-align: middle;
}

.mdl-dialog__content {
  padding: 32px 24px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mdl-dialog__actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mdl-button.mdl-js-button.mdl-button--icon {
  top: 0;
  bottom: 0;
  margin: auto;
}

.mdl-button.mdl-js-button.mdl-button--icon img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.mdl-card.mdl-shadow--2dp.mdl-cell {
  min-height: 0;
  border-radius: 2px;
  transition: 0.4s;
}

.mdl-card.mdl-shadow--2dp.mdl-cell:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.mdl-button {
  /*color: #ffffff;*/
  font-size: 16px;
  width: 86px;
  padding: 0;
}

.button-install {
  color: #ffffff;
  background: #56b881;
}

.button-remove {
  color: #ffffff;
  background: #e55e5e;
}

.button-stop {
  color: #212121;
  background: #fafafa;
}

.button-start {
  color: #ffffff;
  background: #56b881;
}

.button-restart {
  color: #ffffff;
  background: #56b881;
}

.spinner-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 50;
  background: rgba(0, 0, 0, 0.2);
}

mdl-spinner {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 50;
}

.message-empty {
  font-size: 20px;
  text-align: center;
}
