.mdl-layout-title {
  background: #ffffff;
  color: #37474f;
  font-size: 36px;
  font-weight: 500;
}

.mdl-layout__drawer {
  background: #37474f;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
  border-right: 0;
}

.mdl-layout-title {
  background: #f6f6f6;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #f0f0f0;
  font-size: 16px;
}

.mdl-layout__header {
  background: #37474f;
}

.mdl-layout__content {
  background: #f6f6f6;
}

.page-content {
  padding: 32px 104px;
}

.dialog-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
}

.mdl-dialog {
  background: #ffffff;
  height: 240px;
  width: 680px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 100;
}

.mdl-dialog__title {
  background: #37474f;
  padding: 18px 24px;
}

.mdl-dialog__content {
  padding: 32px 24px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mdl-dialog__actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mdl-button.mdl-js-button.mdl-button--icon {
  top: 0;
  bottom: 0;
  margin: auto;
}

.mdl-button.mdl-js-button.mdl-button--icon img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.mdl-card.mdl-shadow--2dp.mdl-cell {
  min-height: 0;
  border-radius: 2px;
  transition: 0.4s;
}

.mdl-card.mdl-shadow--2dp.mdl-cell:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.mdl-button {
  font-size: 16px;
}

.mdl-button.mdl-js-button.mdl-button--raised {
  color: #ffffff;
  width: 94px;
  padding: 0 10px;
}

.button-remove {
  background: #E53935;
}

.button-stop {
  background: #FBC02D;
}

.button-start {
  background: #689F38;
}

.button-restart {
  background: #3F51B5;
}

.message-empty {
  font-size: 20px;
  text-align: center;
}
