::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
}

.mdl-layout-title {
  background: #37474f;
  color: #ffffff;
  padding-left: 32px;
  font-size: 28px;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace !important;
  text-transform: uppercase;
}

.mdl-layout__drawer {
  background: #37474f;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
  border-right: 0;
}

mdl-layout-header.sub-header {
  /*height: 56px;
  min-height: 56px;*/
  background: #ffffff;
}

mdl-layout-header.sub-header mdl-layout-header-row span {
  color: #000000;
  padding-left: 24px;
  font-size: 20px;
  font-weight: 400;
}

mdl-layout-header.sub-header mdl-layout-header-row {
  padding: 0 40px;
  /*height: inherit;*/
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #b0bec5;
  font-size: 14px;
  padding-left: 32px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background: rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.active {
  color: #fff;
  background: #517891;
  text-decoration: none;
}

.nav_icon {
  float: left;
  width: 25px;
  height: 25px;
  background-size: 100% 100%;
}

#ic_service {
  background: url('/assets/icons/ic_service_grey.svg');
}

#ic_app {
  background: url('/assets/icons/ic_app_grey.svg');
}

#ic_market {
  background: url('/assets/icons/ic_market_grey.svg');
}

.mdl-navigation__link.active #ic_service {
  background: url('/assets/icons/ic_service_white.svg');
}

.mdl-navigation__link.active #ic_app {
  background: url('/assets/icons/ic_app_white.svg');
}

.mdl-navigation__link.active #ic_market {
  background: url('/assets/icons/ic_market_white.svg');
}

.mdl-navigation__link span {
  padding-left: 8px;
}
/*.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:active,
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-decoration: none;
}*/
.mdl-layout__header {
  background: #fafafa;
}

.mdl-layout__content {
  background: #eeeeee;
}
/*.page-content {
  padding: 32px 104px;
}*/
.content-container {
  padding: 24px 80px;
}

.dialog-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
}

.mdl-dialog {
  background: #ffffff;
  height: 240px;
  width: 680px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 100;
}

.mdl-dialog__title {
  color: #ffffff;
  background: #37474f;
  height: 64px;
  line-height: 64px;
  padding: 0 24px;
  text-transform: uppercase;
  text-align: left;
  vertical-align: middle;
  font-size: 2.4rem;
}

.mdl-dialog__content {
  padding: 32px 24px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mdl-dialog__actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mdl-button.mdl-js-button.mdl-button--icon {
  top: 0;
  bottom: 0;
  margin: auto;
}

.mdl-button.mdl-js-button.mdl-button--icon img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* ------ icon no shadow border 4px ------ */
.mdl-card__title a img {
  width: 64px;
  height: 64px;
  /*border: 2px #000000 solid;*/
  border-radius: 4px;
  box-shadow: none;
}

.mdl-card__title a img:hover {
  border: 2px #000000 solid;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  /*transition: 0.2s;*/
}
/* ------------------------------------- */
.mdl-card.mdl-shadow--2dp.mdl-cell {
  min-height: 0;
  border-radius: 2px;
  transition: 0.4s;
}

.mdl-card.mdl-shadow--2dp.mdl-cell:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.mdl-button {
  color: #517891;
  font-size: 16px;
  width: 86px;
  padding: 0;
}

.button-install {
  color: #ffffff;
  background: #81c784;
}

.button-install:hover {
  background: #56b881;
}

.button-remove {
  color: #ffffff;
  background: #E57373;
}

.button-remove:hover {
  background: #E53935;
}

.button-stop {
  color: #ffffff;
  background: #B9B9B9;
}

.button-stop:hover {
  background: #9E9E9E;
}

.button-start {
  color: #ffffff;
  background: #81c784;
}

.button-start:hover {
  background: #56b881;
}

.button-restart {
  color: #ffffff;
  background: #81c784;
}

.button-restart:hover {
  background: #56b881;
}

.button-cancel {
  color: #78909C;
  background: #CFD8DC;
}

.button-cancel:hover {
  color: #ffffff;
  background: #B0BEC5;
}

.button-back {
  background: #607c8c;
  font-size: 0;
  margin: auto 0;
}

.button-back:hover {
  background: #4a6777;
}

a:focus,
a:hover {
  text-decoration: none;
}

.spinner-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

mdl-spinner {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 34%;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 50;
}

.spinner-container span {
  font-size: 20px;
  height: 1em;
  line-height: 1em;
  width: 100px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 34%;
  left: 0;
  margin: auto;
  z-index: 50;
}

.message-empty {
  font-size: 20px;
  text-align: center;
}

.logout-button {
  padding-left: 8px;
}

.logout-button:hover {
  cursor: pointer;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
