.mdl-layout-title {
  background: #ffffff;
  color: #37474f;
  font-size: 36px;
  font-weight: 500;
}

.mdl-layout__drawer {
  background: #37474f;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #c2c2c2;
  font-size: 16px;
}

.mdl-layout__header {
  background: #37474f;
}

.page-content {
  padding: 64px;
}
