.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}


/*********************************** Alert ***********************************/

.alert-dialog-style {
  height: 237px;
  width: 500px;
  border-radius: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.alert-global {
  height: 100vh;
  width: 100vw;
  z-index: 40;
  background: rgba(0, 0, 0, 0.16);
}

.alert-dialog {
  background: rgba(76, 59, 75, 0.97);
  z-index: 50;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.5);
}

.alert-content {
  background: rgba(76, 59, 75, 0.97);
  z-index: 100;
}

.alert-body {
  color: white;
  font-size: 18px;
  /*font-weight: bold;*/
  top: 44px;
  left: 40px;
  padding: 0;
  position: absolute;
  display: table;
}

.alert-footer {
  border-top: 0;
  margin: 4px;
  position: absolute;
  bottom: 23px;
  right: 29px;
  padding: 0;
}

.alert-excl {
  height: 54px;
  width: 61px;
}

.alert-message {
  color: #e3e3e3;
  font-size: 18px;
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
  width: 346px;
}

.alert-name {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.btn-alert {
  height: 24px;
  width: 74px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 0;
  padding: 0 4px;
  border-radius: 2px;
}

.btn-alert:hover {
  /*border-style: solid;
  border-width: 2px;*/
  background: rgba(249, 176, 56, 1);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-alert:active {
  background: rgba(231, 145, 2, 1);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-yes {
  background: rgba(203, 203, 203, 0.41);
  color: rgba(0, 0, 0, 0.41);
}

.btn-no {
  background: rgba(245, 166, 35, 1.0);
  color: rgba(255, 255, 255, 1.0);
}
