.mdl-card__title {
  padding: 12px;
  position: relative;
}

.mdl-card__title .mdl-card:hover {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.mdl-card__title-text {
  width: 100%;
  padding: 0 0 0 8px;
  display: block;
  align-self: auto;
}

.service-name {
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}

.service-status {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}

.mdl-card__supporting-text.table {
  background: #f7f7f7;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mdl-data-table {
  background: #f7f7f7;
  width: 100%;
  border: 0;
}

.mdl-data-table__cell--non-numeric {
  font-weight: 500;
  width: 40%;
}

.mdl-data-table tbody tr {
  color: #444444;
  height: 38px;
}

.mdl-data-table tbody tr:hover {
  background-color: inherit;
}

.mdl-data-table tbody tr td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0;
  height: inherit;
  padding: 0 16px;
}

.mdl-card__actions.mdl-card--border {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
