<div *ngIf="notState && !isError" class="notification-success" role="alert">{{notiImage.RepoTags[0]}}{{notification}}</div>
<div *ngIf="notState && isError" class="notification-failure" role="alert">{{notiImage.RepoTags[0]}}{{notification}}</div>

<div class="app-list">
  <div class="app-container" *ngFor="let app of imageInfoes">
    <span>
      <img class="app-trash cursor-pointer" src="assets/trash.svg" (click)="getImage(app)" (click)="displayAlert()"/>
    </span>

    <span class="app-img">
      <img class="app-icon" src={{app.url}}/>
    </span>

    <span class="app-misc cursor-default">
      <div class="app-name cursor-pointer" (click)="openDetailInfo(app)">
        {{ app.RepoTags[0] }}
      </div>
      <div class="app-btn cursor-pointer" (click)="createContainer(app)" (click)="showMessage()">
        Start New
      </div>
    </span>

    <!-- Just a spinner -->
    <div *ngIf="image && app.Id==image.Id" class="sk-base"></div>
    <div *ngIf="image && app.Id==image.Id" class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>

  </div>
</div>

<!-- Just a jQuery component -->
<app-j-query-test></app-j-query-test>

<!-- image detail info -->
<div class="alert-global alert-dialog-style" *ngIf="showInfoWindow"></div>
<div class="image-details cursor-default modal-dialog" *ngIf="showInfoWindow">
  <div class="image-details modal-content">
    <div class="modal-body">
      <img class="detail-close" src="assets/detailclose.png" (click)="closeDetailInfo()"/>
      <div class="detail-header-container">
        <span><img class="detail-image" src={{detailApp.url}} style="height:67px;width:67px;"/></span>
        <span class="detail-app-name">
          {{detailApp.RepoTags[0]}}
        </span>
      </div>
      <hr>
      <div class="detail-info-container">
        <div class="detail-info-left">
          <ul>
            <div>Created Date:</div>
            <div>ID:</div>
            <div>Registory:</div>
            <div>Size:</div>
          </ul>
        </div>
        <div class="detail-info-right">
          <ul>
            <div>{{detailApp.createDate}}</div>
            <div>{{detailApp.Id.split(":")[1].slice(0, 12)}}</div>
            <div>{{detailApp.RepoTags[0]}}</div>
            <div>
              {{(detailApp.Size / 1000000).toFixed(3)}}
              MB
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The alert dialog for remove one appliacation -->
<div class="alert-global alert-dialog-style" *ngIf="showAlert"></div>
<div class="alert-dialog alert-dialog-style modal-dialog" *ngIf="showAlert"></div>
<div class="alert-content alert-dialog-style modal-content" *ngIf="showAlert">
  <div class="alert-body modal-body cursor-default">
    <span><img class="alert-excl" src="assets/alert.svg"/></span>
    <span class="alert-message">
      Do you want to remove app
      <span class="alert-name">{{ image.RepoTags[0] }}</span>?
    </span>
  </div>
  <div class="alert-footer modal-footer">
    <button type="button" class="btn btn-alert btn-yes" data-dismiss="modal" (click)="removeImage(image)" (click)="hideAlert()">Yes</button>
    <button type="button" class="btn btn-alert btn-no" data-dismiss="modal" (click)="hideAlert()">No</button>
  </div>
</div>
