.app-list {
  margin: 34px 51px;
}

.app-container {
  display: inline-block;
  width: 255px;
  height: 141px;
  background: rgba(0, 0, 0, 0.11);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
  margin: 16px;
  border-radius: 4px;
  position: relative;
}
/*.app-container:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.38);
}*/
.app-container:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49));
}

.app-trash {
  height: 14px;
  width: 12px;
  float: right;
  margin: 10px 10px 0 0;
  opacity: 0.41;
}

.app-trash:hover {
  opacity: 1.0;
}

.app-trash:active {
  opacity: 1.0;
}

.app-img {
  float: left;
  padding: 35px 0 0 25px;
}

.app-icon {
  height: 71px;
  width: 71px;
  border-radius: 16px;
}

.app-icon:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.app-misc {
  float: left;
  padding: 35px 0 0 9px;
}

.app-name {
  width: 117px;
  font-size: 14px;
  font-weight: bold;
  color: #e9e9e9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-name:hover {
  color: #ffffff;
}

.app-size {
  padding: 0 0 11px;
  font-size: 10px;
  color: #e7e7e7;
}

.app-btn {
  margin: 30px 0 0;
  font-size: 14px;
  color: #7e5c59;
  background: rgba(255, 255, 255, 0.41);
  height: 21px;
  width: 70px;
  border-radius: 2px;
  line-height: 21px;
  text-align: center;
}

.app-btn:hover {
  color: #ffffff;
  background: #679d2c;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.app-btn:active {
  color: #ffffff;
  background: #4b7819;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
/*****************************************************************************/
.notification-success {
  opacity: 0.8;
  color: #ffffff;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  line-height: 80px;
  width: 559px;
  height: 80px;
  text-align: center;
  border-radius: 15px;
  background-image: url("assets/black.png");
  border: 0;
  font-size: 20px;
}

.notification-failure {
  opacity: 0.8;
  color: #ffffff;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  line-height: 80px;
  width: 559px;
  height: 80px;
  text-align: center;
  border-radius: 15px;
  background-image: url("assets/orange.png");
  border: 0;
  font-size: 20px;
}
/* popup box - image details info box part */
.image-details {
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal-content {
  width: 478px;
  height: 428px;
  background: rgba(0, 0, 0, 0.48);
}

.detail-image {
  margin-left: 27px;
  margin-right: 18px;
  border-radius: 16px;
  float: left;
}

.detail-app-name {
  line-height: 67px;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  float: left;
}

.detail-header-container {
  height: 67px;
  margin-top: 46px;
}

.modal-body hr {
  margin-top: 32px;
  margin-bottom: 35px;
  border-color: rgba(0, 0, 0, 0.32);
  border-top: 1px, thick;
}

.detail-info-container {
  margin-left: 45px;
  margin-right: 45px;
  color: #fff;
  opacity: 0.69;
}

.detail-info-container ul {
  padding-left: 0;
}

.detail-info-left {
  line-height: 32px;
  float: left;
  font-size: 16px;
}

.detail-info-right {
  text-align: right;
  line-height: 32px;
  float: right;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-close {
  float: right;
  cursor: pointer;
}

.detail-close:hover {
  background: rgba(91, 91, 91, 1);
  border-radius: 50%;
}

.image-details {
  z-index: 50;
}
/*****************************************************************************/
.sk-circle {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  position: absolute;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleBounceDelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
