/*.mdl-cell.mdl-cell--3-col .mdl-card.mdl-cell--12-col {
  min-height: 0;
  border-radius: 2px;
  transition: 0.4s;
}

.mdl-cell.mdl-cell--3-col .mdl-card.mdl-cell--12-col:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}*/
.mdl-card__title {
  background: #1E88E5;
  position: relative;
}

.mdl-card__title .mdl-card {
  min-height: 0;
  width: 120px;
  cursor: pointer;
}

.mdl-card__title .mdl-card:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.mdl-card__title .mdl-card:active {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.mdl-card__title-text {
  color: #ffffff;
  width: 100%;
  /*padding: 0 24px 0 56px;*/
  padding: 0 0 0 8px;
  /*position: absolute;*/
  display: block;
  align-self: baseline;
}

.app-name {
  font-size: 22px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}

.app-size {
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}

.mdl-card__menu {
  color: #ffffff;
}

popover-content {
  z-index: 50;
  position: relative;
  top: 10px;
  max-width: 300px !important;
}

.popover {
  width: 300px;
}
