/*.mdl-cell.mdl-cell--3-col .mdl-card.mdl-cell--12-col {
  min-height: 0;
  border-radius: 2px;
  transition: 0.4s;
}

.mdl-cell.mdl-cell--3-col .mdl-card.mdl-cell--12-col:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}*/
.mdl-card__title {
  color: #000000;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.mdl-card__title img {
  width: 50px;
}

.mdl-card__title .mdl-card {
  min-height: 0;
  width: 100px;
  cursor: pointer;
}

.mdl-card__title .mdl-card:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.mdl-card__title .mdl-card:active {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.mdl-card__title-text {
  color: #000000;
  /*width: 100%;*/
  padding: 0 0 0 8px;
  display: block;
  align-self: baseline;
}

.mdl-card__supporting-text {
  color: #000000;
  width: 100%;
}

.mdl-card__actions {
  border-width: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.app-name {
  font-size: 22px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}

.app-misc {
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}

.mdl-card__menu {
  color: #ffffff;
}

popover-content {
  z-index: 50;
  position: relative;
  top: 10px;
  max-width: 300px !important;
  color: #fff;
}

.popover {
  width: 300px;
}

.mdl-card .spinner-container mdl-spinner {
  top: 28%;
}

.mdl-card .spinner-container span {
  bottom: 28%;
}

.mdl-dialog.config-form {
  height: 580px;
}

.mdl-dialog.config-form p {
  height: 46px;
}

.mdl-dialog.config-form .mdl-dialog__content {
  padding: 12px 36px;
}

.mdl-dialog.config-form .mdl-textfield {
  width: 100%;
}
