<div class="container">
  <div class="message-empty" *ngIf="!imageInfoes">
    Your application list is empty.
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col" *ngFor="let app of imageInfoes">
      <!-- <popover-content #myPopover [animation]="true" placement="bottom" [closeOnMouseOutside]="true">
      <strong>ID:&nbsp;&nbsp;</strong>{{app.Id}}<br>
      <strong >Repo:&nbsp;&nbsp;</strong>{{app.RepoTags[0]}}
    </popover-content> -->

      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="spinner-container" *ngIf="app.state==2">
          <mdl-spinner single-color [active]="true"></mdl-spinner>
          <span>Starting</span>
        </div>
        <div class="spinner-container" *ngIf="app.state==1">
          <mdl-spinner single-color [active]="true"></mdl-spinner>
          <span>Removing</span>
        </div>

        <div class="mdl-card__title">
          <a routerLink="/application/{{app.applicationId}}">
            <img *ngIf="app.pictureUrl" src="{{app.pictureUrl}}"/>
            <img *ngIf="!app.pictureUrl" src="/assets/icons/ic_default.svg"/>
          </a>

          <div class="mdl-card__title-text">
            <div class="app-name">
              {{ app.name }}
            </div>
            <div class="app-misc">
              <strong>Version:</strong>
              {{ app.version }}
            </div>
            <div class="app-misc">
              <strong>Author:</strong>
              {{ app.author }}
            </div>
          </div>
        </div>

        <!-- <div class="mdl-card__supporting-text">
        <div *ngIf="app.RepoTags[0].split('/').length==1">
          <div class="app-misc">
            <strong>Registry:</strong>
            Docker
          </div>
          <div class="app-misc">
            <strong>Author:</strong>
            Docker
          </div>
        </div>
        <div *ngIf="app.RepoTags[0].split('/').length==2 && dorry.test(app.RepoTags[0].split('/')[0])">
          <div class="app-misc">
            <strong>Registry:</strong>
            {{app.RepoTags[0].split('/')[0]}}
          </div>
          <div class="app-misc">
            <strong>Author:</strong>
            Dorry
          </div>
        </div>
        <div *ngIf="app.RepoTags[0].split('/').length==2 && !dorry.test(app.RepoTags[0].split('/')[0])">
          <div class="app-misc">
            <strong>Registry:</strong>
            Docker
          </div>
          <div class="app-misc">
            <strong>Author:</strong>
            {{app.RepoTags[0].split('/')[0]}}
          </div>
        </div>
        <div *ngIf="app.RepoTags[0].split('/').length==3">
          <div class="app-misc">
            <strong>Registry:</strong>
            {{app.RepoTags[0].split('/')[0]}}
          </div>
          <div class="app-misc">
            <strong>Author:</strong>
            {{app.RepoTags[0].split('/')[1]}}
          </div>
        </div>

        <div class="app-misc">
          <strong>Size:</strong>
          {{(app.Size/1000000).toFixed(3)}}
          MB
        </div>
      </div> -->

        <div class="mdl-card__actions">
          <button mdl-button mdl-button-type="raised" mdl-ripple class="mdl-button button-start" (click)="startImage(app)">
            Start
          </button>

          <button mdl-button mdl-button-type="raised" mdl-ripple class="mdl-button button-remove" (click)="getImage(app)" (click)="displayAlert()">
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The alert dialog for remove one appliacation -->
<div class="dialog-container" *ngIf="showAlert">
  <div class="mdl-dialog">
    <div class="mdl-dialog__title">
      Remove Application
    </div>
    <div class="mdl-dialog__content">
      <span>
        Do you want to remove
        <span>
          <strong>{{ image.name }}</strong>
        </span>?
        <br>
        <strong>Warning:</strong>
        The application may not be removed since its services are running.
      </span>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button button-remove" (click)="removeImage(image)" (click)="hideAlert()">Remove</button>
      <button type="button" class="mdl-button button-cancel" (click)="hideAlert()">Cancel</button>
    </div>
  </div>
</div>
