.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


/*************************************************************************************/

.app-list {
  margin: 34px 51px;
}

.app-container {
  display: inline-block;
  width: 255px;
  height: 141px;
  background: rgba(0, 0, 0, 0.11);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
  margin: 16px;
  border-radius: 4px;
  position: relative;
}

.app-container:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.38);
}

.app-trash {
  height: 14px;
  width: 12px;
  float: right;
  margin: 10px 10px 0 0;
  opacity: 0.41;
}

.app-trash:hover {
  opacity: 1.0;
}

.app-trash:active {
  opacity: 1.0;
}

.app-img {
  float: left;
  padding: 35px 0 0 25px;
}

.app-icon {
  height: 71px;
  width: 71px;
  border-radius: 16px;
}

.app-icon:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.app-misc {
  float: left;
  padding: 35px 0 0 9px;
}

.app-name {
  width: 117px;
  font-size: 14px;
  font-weight: bold;
  color: #e9e9e9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-name:hover {
  color: #ffffff
}

.app-size {
  padding: 0 0 11px 0;
  font-size: 10px;
  color: #e7e7e7;
}

.app-btn {
  margin: 30px 0 0 0;
  font-size: 14px;
  color: #7e5c59;
  background: rgba(255, 255, 255, 0.41);
  height: 21px;
  width: 70px;
  border-radius: 2px;
  line-height: 21px;
  text-align: center;
}

.app-btn:hover {
  color: #ffffff;
  background: #679d2c;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.app-btn:active {
  color: #ffffff;
  background: #4b7819;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}


/**************************************************************/

.notification-success {
  opacity: 0.8;
  color: #ffffff;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  line-height: 80px;
  width: 559px;
  height: 80px;
  text-align: center;
  border-radius: 15px;
  background-image: url("assets/black.png");
  border: 0;
  font-size: 20px;
}

.notification-failure {
  opacity: 0.8;
  color: #ffffff;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  line-height: 80px;
  width: 559px;
  height: 80px;
  text-align: center;
  border-radius: 15px;
  background-image: url("assets/orange.png");
  border: 0;
  font-size: 20px;
}


/* popup box - image details info box part */

.image-details {
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal-content {
  width: 478px;
  height: 428px;
  background: rgba(0, 0, 0, 0.48);
}

.detail-image {
  margin-left: 27px;
  margin-right: 18px;
  border-radius: 16px;
  float: left;
}

.detail-app-name {
  line-height: 67px;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  float: left;
}

.detail-header-container {
  height: 67px;
  margin-top: 46px;
}

.modal-body hr {
  margin-top: 32px;
  margin-bottom: 35px;
  border-color: rgba(0, 0, 0, 0.32);
  border-top: 1px, thick;
}

.detail-info-container {
  margin-left: 45px;
  margin-right: 45px;
  color: #fff;
  opacity: 0.69;
}

.detail-info-container ul {
  padding-left: 0;
}

.detail-info-left {
  line-height: 32px;
  float: left;
  font-size: 16px;
}

.detail-info-right {
  text-align: right;
  line-height: 32px;
  float: right;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-close {
  float: right;
  cursor: pointer;
}

.detail-close:hover {
  background: rgba(91, 91, 91, 1);
  border-radius: 50%;
}


/* alert dialog css style */

.alert-dialog {
  background: rgba(66, 65, 65, 0.9);
  z-index: 50;
  /*-webkit-filter: blur(27px);
  -moz-filter: blur(27px);
  -o-filter: blur(27px);
  -ms-filter: blur(27px);
  filter: blur(27px);*/
}

.alert-content {
  background: rgba(66, 65, 65, 0);
  z-index: 100;
}

.alert-dialog-style {
  height: 237px;
  width: 500px;
  border-radius: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.alert-body {
  color: white;
  font-size: 18px;
  font-weight: bold;
  top: 44px;
  left: 42px;
  padding: 0;
}

.alert-footer {
  border-top: 0;
  margin: 4px;
  position: absolute;
  bottom: 23px;
  right: 29px;
  padding: 0;
}

.alert-message {
  padding-left: 20px;
}

.btn-alert {
  height: 24px;
  width: 74px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 0;
  padding: 0 4px;
}

.btn-alert:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #979797;
}

.btn-yes {
  border-style: solid;
  border-width: 2px;
  border-color: #dadada;
  background: rgba(218, 218, 218, 0.41);
  color: rgba(255, 255, 255, 0.62);
}

.btn-no {
  background: rgba(218, 218, 218, 0.41);
  color: rgba(255, 255, 255, 0.70);
}

.alert-global {
  height: 100vh;
  width: 100vw;
  z-index: 20;
}

.image-details {
  z-index: 50;
}
