<div class="message-empty" *ngIf="hasApp!=undefined && !hasApp">
  Your application list is empty.
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col" *ngFor="let app of imageInfoes">
    <popover-content #myPopover [animation]="true" placement="bottom" [closeOnMouseOutside]="true">
      <strong>ID:&nbsp;&nbsp;</strong>{{ app.Id }}<br>
      <strong >Repo:&nbsp;&nbsp;</strong>{{ app.RepoTags[0] }}
    </popover-content>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
      <div class="spinner-container" *ngIf="app.spinner">
        <mdl-spinner single-color [active]="app.spinner"></mdl-spinner>
      </div>
      <!-- <div *ngIf="!regExp.test(app.RepoTags[0].split('/')[app.RepoTags[0].split('/').length-1])"> -->
      <div class="mdl-card__title">
        <img class="mdl-card mdl-shadow--2dp" src="/assets/icons/ic_insert_photo_black_48px.svg" [popover]="myPopover" [popoverOnHover]="true"/>
        <!-- <img class="card-img" src="/assets/icons/ic_insert_photo_black_48px.svg" [popover]="myPopover" [popoverOnHover]="true"/> -->
        <div class="mdl-card__title-text">
          <div class="app-name">
            {{ app.RepoTags[0].split("/")[app.RepoTags[0].split("/").length-1] }}
          </div>
          <div class="app-size">
            {{ (app.Size/1000000).toFixed(3) }}
            MB
          </div>
        </div>
      </div>

      <div class="mdl-card__actions">
        <button mdl-button mdl-button-type="raised" mdl-ripple class="mdl-button button-start" (click)="getImage(app)" (click)="startImage(app)">
          Start
        </button>
        <button mdl-button mdl-button-type="raised" mdl-ripple class="mdl-button button-remove" (click)="getImage(app)" (click)="displayAlert()">
          Remove
        </button>
      </div>
    </div>
  </div>

  <!-- The alert dialog for remove one appliacation -->
  <div class="dialog-container" *ngIf="showAlert">
    <div class="mdl-dialog">
      <div class="mdl-dialog__title">
        Remove Application
      </div>
      <div class="mdl-dialog__content">
        <span>
          Do you want to remove application
          <span>
            <strong>{{ image.RepoTags[0].split("/")[image.RepoTags[0].split("/").length-1] }}</strong>
          </span>?
        </span>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" (click)="removeImage(image)" (click)="hideAlert()">Yes</button>
        <button type="button" class="mdl-button close" (click)="hideAlert()">No</button>
      </div>
    </div>
  </div>
