.mdl-grid {
  padding: 0;
}

.mdl-grid .mdl-cell.mdl-cell--3-col {
  padding: 0 8px 16px;
}

.mdl-cell.mdl-cell--3-col .mdl-card.mdl-cell--12-col {
  border-radius: 2px;
  transition: 0.4s;
}

.mdl-cell.mdl-cell--3-col .mdl-card.mdl-cell--12-col:hover {
  box-shadow: 0 2px 6px 4px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.mdl-card__title {
  color: #ffffff;
  background: #64B5F6;
  height: 140px;
  position: relative;
}

.mdl-card__title .mdl-card {
  transition: 0.2s;
  cursor: pointer;
}

.mdl-card__title .mdl-card:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.mdl-card__title .mdl-card:active {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.mdl-card__title .mdl-card {
  min-height: 72px;
  width: 72px;
  position: relative;
  align-self: baseline;
}

.mdl-card__title .mdl-card img {
  background: #333;
  height: 68px;
  width: 68px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.mdl-card__title-text {
  font-weight: 400;
  position: absolute;
}

.mdl-card__supporting-text {
  height: 126px;
  margin: 16px;
  padding: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mdl-card__menu {
  color: #ffffff;
}
