.mdl-container.stopped {
  background: #FFEBEE;
}

.mdl-card__title {
  color: #ffffff;
  background: #EF5350;
}

.mdl-card__supporting-text {
  background: #EF9A9A;
}

.mdl-card__menu {
  color: #ffffff;
}
