.service-list-container {
  margin-top: 20px;
  margin-bottom: 26px;
}

.service-img-stopped {
  filter: grayscale(100%);
}

.stopped.service-btn:hover {
  background: #679d2c;
  color: #ffffff;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.stopped.service-btn:active {
  background: #4b7819;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
