<div class="mdl-container stopped" *ngIf="hasStopped">
  <header class="service stopped">
    Stopped Services
  </header>
  <div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col" *ngFor="let service of containers">
      <div class="mdl-card__title">
        <a routerLink="/services/{{service.Id}}">
          <img class="mdl-card mdl-shadow--2dp" src="/assets/icons/ic_insert_photo_black_48px.svg"/>
        </a>
        <div class="mdl-card__title-text">
          <div class="service-name">{{ service.Names[0] | slice:1 }}</div>
          <div class="service-status">{{ service.Status }}</div>
        </div>
      </div>

      <div class="mdl-card__supporting-text table">
        <table class="mdl-data-table mdl-js-data-table">
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Application</td>
              <td *ngIf="service.Image">{{ service.Image }}</td>
            </tr>

            <tr>
              <td class="mdl-data-table__cell--non-numeric">IP Address</td>
              <td *ngIf="service.NetworkSettings.Networks.bridge.IPAddress != ''">
                {{ service.NetworkSettings.Networks.bridge.IPAddress }}
              </td>
              <td *ngIf="service.NetworkSettings.Networks.bridge.IPAddress == ''">None</td>
            </tr>

            <tr>
              <td class="mdl-data-table__cell--non-numeric">Ports</td>
              <td *ngIf="service.Ports[0] != undefined">{{ service.Ports[0].PublicPort }}</td>
              <td *ngIf="service.Ports[0] == undefined">None</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <!-- <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect
                       mdl-button--fab button-restart" (click)="displayRestartAlert()" (click)="getContainer(service)">
          <img src="/assets/icons/ic_play_arrow_white_24px.svg"/>
        </button>
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect
                       mdl-button--fab button-remove" (click)="displayRemoveAlert()" (click)="getContainer(service)">
          <img src="/assets/icons/ic_delete_white_24px.svg"/>
        </button> -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                       button-restart" (click)="displayRestartAlert()" (click)="getContainer(service)">
          Restart
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                       button-remove" (click)="displayRemoveAlert()" (click)="getContainer(service)">
          Remove
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The alert dialog for restart one service -->
<div class="dialog-container" *ngIf="showAlert==1">
  <div class="mdl-dialog">
    <div class="mdl-dialog__title">Restart Service</div>
    <div class="mdl-dialog__content">
      <span>
        Do you want to restart service
        <span>
          <strong>{{ container.Names[0] | slice:1 }}</strong>
        </span>?
      </span>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button" (click)="restartContainer(container)" (click)="hideAlert()">Yes</button>
      <button type="button" class="mdl-button close" (click)="hideAlert()">No</button>
    </div>
  </div>
</div>

<!-- The alert dialog for remove one service -->
<div class="dialog-container" *ngIf="showAlert==2">
  <div class="mdl-dialog">
    <div class="mdl-dialog__title">Remove Service</div>
    <div class="mdl-dialog__content">
      <span>
        Do you want to remove service
        <span>
          <strong>{{ container.Names[0] | slice:1 }}</strong>
        </span>?
      </span>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button" (click)="removeContainer(container.Id)" (click)="hideAlert()">Yes</button>
      <button type="button" class="mdl-button close" (click)="hideAlert()">No</button>
    </div>
  </div>
</div>
