<div class="mdl-container error" *ngIf="hasErrorService">
  <header class="service error">
    Oops! There Is Something Wrong
  </header>
  <div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col" *ngFor="let service of containers">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ service.Names[0] | slice:1 }}</h2>
      </div>

      <div class="mdl-card__supporting-text">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Application</td>
              <td *ngIf="service.Image">{{ service.Image }}</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Status</td>
              <td *ngIf="service.Status">{{ service.Status }}</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Port</td>
              <td *ngIf="service.Ports[0] != undefined">{{ service.Ports[0].PublicPort }}</td>
              <td *ngIf="service.Ports[0] == undefined">None</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--fab" (click)="displayAlert()" (click)="getContainer(service)">
          <i class="material-icons">R</i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The alert dialog for remove one service -->
<div class="alert-dialog-style alert-global" *ngIf="showAlert"></div>
<div class="alert-dialog alert-dialog-style modal-dialog" *ngIf="showAlert"></div>
<div class="alert-content alert-dialog-style modal-content" *ngIf="showAlert">
  <div class="alert-body cursor-default modal-body">
    <span><img class="alert-excl" src="assets/alert.svg"/></span>
    <span class="alert-message cursor-default">
      Do you want to remove service
      <span class="alert-name">{{ container.Names[0] | slice:1 }}</span>?
    </span>
  </div>
  <div class="alert-footer modal-footer">
    <button type="button" class="btn btn-alert btn-yes" data-dismiss="modal" (click)="removeContainer(container.Id)" (click)="hideAlert()">Yes</button>
    <button type="button" class="btn btn-alert btn-no" data-dismiss="modal" (click)="hideAlert()">No</button>
  </div>
</div>
