/*.mdl-card__title {
  color: #ffffff;
  background: #FFB74D;
}*/
.mdl-card__title-text {
  color: #000000;
}

.mdl-card__supporting-text.table {
  /*background: #FFAB91;*/
}

.mdl-card__actions.mdl-card--border {
  /*background: #FF8A65;*/
}
