.mdl-container.error {
  background: #E8EAF6;
}

.mdl-card__title {
  color: #ffffff;
  background: #7986CB;
}

.mdl-card__supporting-text {
  background: #C5CAE9;
}

.mdl-card__menu {
  color: #ffffff;
}
